<div ng-controller ="IngresosEfectivoController">

    <div class="row appcontainer">
        <br/>
        <div class="col-lg-12">
            <label>Reporte de Ingresos Generales Efectivo</label>
        </div>
        <div class="col-lg-4">
            <label>Fecha Inicial</label> <input type="date" ng-model="fecha_inicial">
        </div>
        <div class="col-lg-4">
            <label>Fecha Final</label> <input type="date" ng-model="fecha_final">
        </div>
        <div class="col-lg-12">
            <br/>
            <button class="btn btn-primary" ng-click="obtenerReporte()">Buscar</button>
            <button class="btn btn-success" ng-click="imprimir()">Imprimir</button>
        </div>
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead><tr>
                    <th>Periodo</th>
                    <th>Cuotas de Administracion</th>
                    <th>Seguros Areas comunes</th>
                    <th>Alquiler Salon comunal</th>
                    <th>Multa de incumplimiento</th>
                    <th>Parqueadero</th>
                    <th>Otros</th>
                    <th>Total</th>
                </tr></thead>
                <tbody><tr ng-repeat="ingreso in matrizIngresos">
                    <td>{{ ingreso.periodo }}</td>
                    <td>{{ ingreso.admin }}</td>
                    <td>{{ ingreso.seguro }}</td>
                    <td>{{ ingreso.salon }}</td>
                    <td>{{ ingreso.incumplimiento }}</td>
                    <td>{{ ingreso.parqueadero }}</td>
                    <td>{{ ingreso.otros }}</td>
                    <td>{{ ingreso.total }}</td>
                </tr>
                <tr>
                    <td><label>Total</label></td>
                    <td>{{total.admin}}</td>
                    <td>{{total.seguro}}</td>
                    <td>{{total.salon}}</td>
                    <td>{{total.incumplimiento}}</td>
                    <td>{{total.parqueadero}}</td>
                    <td>{{total.otros}}</td>
                    <td>{{total.total}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>