<div>

    <div> <br/> <br/> <br/></div>
    <div class="row">
        <div class="col-md-12">
            <label>Reporte General de Ingresos</label> <br/><br/>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" ><a href="#ingresos">Reporte General Efectivo-Consignaciones</a></button><br/>
            <br>
        </div>

        <div class="col-md-4">
            <button class="btn btn-warning"><a href="#ingresos/efectivo">Reporte General Efectivo</a></button><br/>
            <br>
        </div>

        <div class="col-md-4">
            <button class="btn btn-primary"><a href="#ingresos/consignaciones">Reporte General Consignaciones</a></button><br/>
            <br>
        </div>
        <div class="col-md-4">
            <button class="btn btn-warning"><a href="#ingresos/bloque">Reporte General de Ingresos por Bloque</a></button><br/>
            <br>
        </div>
    </div>
</div>