<div>
    <div> <br/> <br/> <br/></div>
    <div class="row">
        <div class="col-md-12">
            <h2>Reporte General de Ingresos</h2>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">Reporte de ingresos</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <button class="btn btn-primary" ><a href="#ingresos">Reporte General Efectivo-Consignaciones</a></button><br/>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary"><a href="#ingresos/efectivo">Reporte General Efectivo</a></button><br/>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary"><a href="#ingresos/consignaciones">Reporte General Consignaciones</a></button><br/>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Reporte de ingresos por bloque</div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <button class="btn btn-success"><a href="#ingresos/bloque">Reporte General de Ingresos por Bloque</a></button><br/>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success"><a href="#ingresos/bloque/otros/ingresos">Reporte General de Otros ingresos por Bloque*</a></button><br/>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success"><a href="#ingresos/bloque/seguros">Reporte General de Seguro por Bloque*</a></button><br/>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success"><a href="#ingresos/bloque/multas">Reporte General de Multa de incumplimiento por Bloque*</a></button><br/>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
