<div>

    <div> <br/> <br/> <br/></div>
    <div class="row">
        <div class="col-md-12">
            <label>Reporte General de Ingresos</label> <br/><br/>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" ><a href="#ingresos">Reporte General Efectivo-Consignaciones</a></button><br/>
            <br>
        </div>

        <div class="col-md-4">
            <button class="btn btn-warning">Reporte General Efectivo</button><br/>
            <br>
        </div>

        <div class="col-md-4">
            <button class="btn btn-primary">Reporte General Consignaciones</button><br/>
            <br>
        </div>
    </div>
</div>