<div ng-controller ="IngresosController">

    <div class="row appcontainer">
        <br/>
        <div class="col-lg-12">
            <label>Reporte de Ingresos Generales Efectivo-Consignaci&oacute;n</label>
        </div>
        <div class="col-lg-4">
            <label>Fecha Inicial</label> <input type="date" ng-model="fecha_inicial">
        </div>
        <div class="col-lg-4">
            <label>Fecha Final</label> <input type="date" ng-model="fecha_final">
        </div>
        <div class="col-lg-12">
            <br/>
            <button class="btn btn-primary" ng-click="obtenerReporte()">Buscar</button>
            <button class="btn btn-success" ng-click="imprimir()">Imprimir</button>
        </div>
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead><tr>
                    <th>Periodo</th>
                    <th>Cuotas de Administraci&oacute;n</th>
                    <th>Seguros &aacute;reas comunes</th>
                    <th>Alquiler Sal&oacute;n comunal</th>
                    <th>Multa de incumplimiento</th>
                    <th>Parqueadero</th>
                    <th>Otros</th>
                    <th>Total</th>
                </tr></thead>
                <tbody><tr ng-repeat="ingreso in matrizIngresos">
                    <td>{{ ingreso.periodo }} </td>
                    <td>{{ ingreso.admin }} <a ng-show = "validate(ingreso.admin)" href="#/reporte-total-detail/{{ingreso.periodo}}/1" >(+)</a></td>
                    <td>{{ ingreso.seguro }} <a ng-show = "validate(ingreso.seguro)" href="#/reporte-total-detail/{{ingreso.periodo}}/2" >(+)</a></td>
                    <td>{{ ingreso.salon }} <a ng-show = "validate(ingreso.salon)" href="#/reporte-total-detail/{{ingreso.periodo}}/3" >(+)</a></td>
                    <td>{{ ingreso.incumplimiento }} <a ng-show = "validate(ingreso.incumplimiento)" href="#/reporte-total-detail/{{ingreso.periodo}}/4" >(+)</a></td>
                    <td>{{ ingreso.parqueadero }} <a ng-show = "validate(ingreso.parqueadero)" href="#/reporte-total-detail/{{ingreso.periodo}}/5" >(+)</a></td>
                    <td>{{ ingreso.otros }} <a ng-show = "validate(ingreso.otros)" href="#/reporte-total-detail/{{ingreso.periodo}}/6" >(+)</a> </td>
                    <td>{{ ingreso.total }}</td>
                </tr>
                <tr>
                    <td><label>Total</label></td>
                    <td>{{total.admin}}</td>
                    <td>{{total.seguro}}</td>
                    <td>{{total.salon}}</td>
                    <td>{{total.incumplimiento}}</td>
                    <td>{{total.parqueadero}}</td>
                    <td>{{total.otros}}</td>
                    <td>{{total.total}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>