<div ng-controller="PazySalvoDocument">
    <!-- init modal soft paz y salvo libre-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br/><br/><br/>
                <aside> <b>Paz y salvo de la propiedad</b></aside><br/>
            </div>
            <div class="col-md-12">

                <p align="justify">
                    <b>CONJUNTO CERRADO MULTIFAMILIAR FUNDADORES</b><br/>
                    NIT. 810.004.843·9<br/>

                    PERSONERIA JURIDICA RESOLUCION No. 0446 DE FEBRERO 14 DE 2002<br/>
                    Manizales,{{date_format}}<br/><br/>
                    A quien pueda interesar<br/><br/>
                    PAZ Y SALVO<br/><br/>
                    Hago constar que el(la) señor(a) {{owner.propietario.nombre}} {{owner.propietario.apellido}}
                    propietario(a) del apartamento {{owner.id}} se encuentra a PAZ Y Salvo <br/>
                    con el CONJUNTO MULTIFAMILIAR FUNDADORES hasta el {{date_format}}<br/>
                    La propiedad {{propiedad}} esta al dia con los pagos.<br/>
                    <br/><br/>
                    Fecha generacion: {{date}}<br/><br/>
                </p>

                <button type="button" class="btn btn-success" ng-click="imprimir()">Imprimir</button>
            </div>
            </div>
        </div>
    </div>
    <!-- end modal soft paz y salvo libre -->
</div>